@import url("https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro");
button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background-color: #a88d7b; }

button:hover {
  width: 152px;
  height: 42px; }

textarea {
  width: 1210px;
  height: 150px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  grid-column: 2 span; }

iframe {
  margin: auto;
  padding: 2rem; }

body {
  margin: 0 auto;
  background-size: 100vh; }

li {
  display: inline;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #999999;
  word-spacing: 0.1rem; }

a {
  font-family: Dosis;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

ul {
  text-align: center; }

section {
  width: 118.75rem;
  height: 34.5rem;
  opacity: 0.9;
  background-color: #666666;
  text-align: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/blog.jpg);
  background-size: cover; }
  section p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #ffffff; }

footer {
  font-family: "Source Sans Pro";
  font-size: 14px;
  padding-top: 2rem;
  line-height: 1.71;
  text-align: center;
  color: #666666; }

hr {
  width: 5rem;
  height: 0.125rem;
  background-color: #a88d7b; }

h4 {
  text-transform: uppercase; }

.banner-image {
  width: 118.75rem;
  height: 59.0625rem;
  background-color: #666666;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
  margin: 0;
  text-align: center; }

.banner-text {
  width: 1900px;
  height: 53px;
  background-color: #2d2827;
  text-transform: uppercase; }

.banner-grid
.fas,
.fa {
  font-size: 12px;
  text-align: center;
  color: #999999; }

.nav-grid {
  margin-top: 3rem;
  word-spacing: 2rem; }

.nav-grid li,
.fas,
.fa {
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.company {
  font-family: "Dosis";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #fffefe;
  text-transform: uppercase; }

.title-kids-fashion {
  margin-top: 15rem; }

.arrow {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 47%;
  animation: move 2s ease infinite; }

@keyframes move {
  0% {
    margin-top: 7rem; }
  50% {
    margin-top: 0; }
  100% {
    margin-top: 7rem; } }
.explore-kids-fashion {
  font-family: Dosis;
  font-size: 50px;
  line-height: 0.96;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }

.lorem {
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6; }

.image-product-holder {
  width: 370px;
  height: 360px;
  object-fit: cover; }

.featured-product {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase; }

.featured-product-background {
  width: 1900px;
  height: 704px;
  background-color: #f5f5f5; }

.name-of-product {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-align: center; }

.product-price {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  color: #999999; }

.new-collection-image {
  width: 570px;
  height: 373px;
  text-align: center;
  object-fit: cover; }

.new-collection {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase; }

.good-stuff {
  font-family: Dosis;
  font-size: 48px;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.button-text {
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  color: #ffffff; }

.blog-text {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase; }

.blog-images {
  width: 585px;
  height: 405px;
  background-color: #666666; }

.every-day-living {
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 600;
  color: #333333; }

.every-day-living-date {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999; }

.every-day-living-p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #666666; }

.read-more {
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #a88d7b; }

.details {
  margin: auto;
  align-items: center;
  justify-items: center;
  background-color: #2d2827; }
  .details .fas,
  .details .fa {
    margin-right: 0.7rem; }

.details-name {
  font-family: "Dosis";
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1rem;
  color: #e5e5e5;
  text-align: left;
  padding-bottom: 0.8rem;
  text-transform: uppercase; }

.details p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999;
  text-align: left;
  line-height: 1.6; }
  .details p .fas,
  .details p .fa {
    color: #999999; }

.details p:hover {
  text-decoration: underline;
  color: white; }

.details-text {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold;
  color: #e5e5e5;
  text-align: left;
  text-transform: uppercase; }

.image-insta {
  width: 80px;
  height: 80px;
  object-fit: cover; }

.footer {
  width: 1900px;
  height: 85px;
  background-color: #d7d7d7; }

.about-grid {
  width: 1900px;
  height: 53px;
  background-color: #eeeeee; }
  .about-grid .fas {
    color: #999999; }

.company-about {
  font-family: "Dosis";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #000000; }

.nav-about {
  word-spacing: 1rem;
  text-align: center;
  margin: auto; }

.home-about-us {
  width: 1900px;
  height: 445px;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/18368.jpg);
  background-size: cover;
  text-align: center;
  object-fit: cover;
  align-items: center;
  justify-items: center; }

.home-contact-us {
  width: 1900px;
  height: 445px;
  text-align: center;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
  align-items: center;
  justify-items: center; }

.about-us-heading {
  font-family: "Source Sans Pro";
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff; }

.text-style-about {
  color: #a8a8a8; }

.text-style-home {
  color: #ffffff; }

.background-who-are-we {
  width: 1900px;
  height: 548px;
  background-color: #ffffff; }

.who-are-we-image {
  width: 600px;
  height: 490px;
  object-fit: cover; }

.who-are-we-text p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: left;
  color: #666666; }

.who-are-we-text h2 {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  color: #333333; }

.meet-our-team-background {
  width: 1920px;
  height: 721px;
  background-color: #ffffff; }

.meet-our-team {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #333333; }

.meet-our-team-image {
  width: 270px;
  height: 305px;
  object-fit: cover; }

.member {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.4;
  color: #333333;
  text-align: center; }

.position {
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  line-height: 1.47;
  color: #999999; }

.social-m-icons {
  font-size: 15px;
  text-align: center;
  color: #555555;
  letter-spacing: 1rem;
  line-height: 1.47; }

.what-we-do-image {
  width: 600px;
  height: 490px;
  object-fit: cover; }

.what-we-do {
  width: 1900px;
  height: 590px;
  background-color: #ffffff; }
  .what-we-do p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.67;
    text-align: left;
    color: #666666; }

.what-we-do-title {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  text-transform: uppercase;
  color: #333333; }

.typography-image {
  width: 1920px;
  height: 335px;
  background-color: #666666; }
  .typography-image h1 {
    font-family: "Source Sans Pro";
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: 4.8px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase; }

.title,
#title {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase; }

.heading-grid {
  width: 1900px; }

.blog-background {
  width: 1900px;
  height: 928px;
  background-color: #ffffff; }

.blog-product {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  color: #333333; }

.blog-date {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999; }

.blog-layer {
  width: 380px;
  margin: 0;
  background-color: #ffffff; }

.blog-info {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #666666; }

.blog-read-more {
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  color: #706259; }

.blog-image {
  width: 1900px;
  height: 445px;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/insta7.jpg);
  text-align: center; }

.home-blog-us {
  padding: 10rem 0; }

.blog-title {
  font-family: "Source Sans Pro";
  font-size: 50px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase; }

.blogs-images {
  width: 370px;
  height: 225px;
  object-fit: cover; }

.look-book {
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: auto; }

.look-book-image {
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/mpic16.jpg);
  text-align: center; }

.look-book-images {
  width: 40rem;
  height: 30rem;
  transition: 1s ease-in; }

.look-book-images:hover {
  width: 45rem;
  height: 40rem;
  border-radius: 2px solid black;
  transition: 1s ease-in-out; }

.business-details {
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333; }

.business-info {
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 1.39;
  color: #666666; }

.border {
  width: 390px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0; }

.form-button {
  width: 155px;
  height: 40px;
  background-color: #ac907f;
  border-radius: 0;
  align-self: left;
  justify-self: left; }
  .form-button p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ffffff; }

.shop-background-color {
  width: 1900px;
  height: 1610px;
  background-color: #f5f5f5; }

.shop-image {
  width: 1900px;
  height: 445px;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/shop-main.jpg);
  text-align: center;
  object-fit: cover; }

.shop-images {
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative; }
  .shop-images img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .shop-images .product-sale {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #ac907f;
    font-family: "Source Sans Pro";
    font-size: 15px;
    margin: auto;
    line-height: 3.2;
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    border-radius: 50%;
    top: 1rem;
    left: 1rem; }

.cart-button {
  width: 180px;
  height: 44px;
  color: white;
  text-transform: uppercase;
  background-color: #ac907f;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff; }
  .cart-button .fas,
  .cart-button .fa {
    padding: 0.5rem; }

.cart-price {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 600;
  line-height: 2.67;
  color: #999999; }

.product-info {
  text-align: left; }

.next-page {
  word-spacing: 3rem;
  text-align: right; }

.banner-grid,
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.nav-grid-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .nav-grid-about a {
    font-family: "Dosis";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #666666;
    text-align: center;
    margin: auto;
    text-transform: uppercase; }

.nav-about {
  grid-column: 2 span; }

.home-about-us {
  display: grid;
  grid-template-columns: 1fr; }

.background-who-are-we {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, auto);
  padding: 5rem 9rem;
  text-align: center;
  width: 71.375rem;
  margin: auto; }
  .background-who-are-we h2 {
    text-transform: uppercase; }

.meet-our-team-background {
  display: grid;
  grid-gap: 0;
  align-items: center;
  justify-items: center;
  width: 71.375rem;
  margin: auto;
  grid-template-columns: repeat(4, auto); }

.what-we-do {
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
  display: grid;
  margin: auto;
  width: 71.375rem;
  grid-template-columns: repeat(2, auto); }

.image-product-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  width: 71.375rem;
  margin: auto; }

.collection-image-grid {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, auto);
  width: 71.375rem;
  margin: auto; }
  .collection-image-grid p {
    font-family: "Source Sans Pro";
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
    text-transform: uppercase; }

.goodstuff-grid {
  display: grid;
  padding: 10rem 0 0 10rem;
  grid-template-columns: repeat(2, 1fr);
  width: 1900px;
  height: 552px;
  opacity: 0.9; }

.blog-grid {
  display: grid;
  padding: 0 15rem;
  margin: 3rem;
  grid-template-columns: repeat(2, 1fr); }
  .blog-grid .read-more {
    text-transform: uppercase; }

.details {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 6rem; }

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-row-gap: 1rem; }

.heading-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 0; }

.two-third {
  grid-column: 2 span; }

.blogs-grid {
  display: grid;
  padding: 0 20rem;
  grid-template-columns: repeat(3, 1fr); }

.blog-share-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr); }

.look-book-grid {
  background: linear-gradient(rgba(128, 128, 128, 0.692), rgba(0, 0, 0, 0.548)), url(../images/shop-main.jpg);
  display: grid;
  width: 100%;
  grid-gap: 0.5rem;
  background-size: cover;
  grid-template-columns: repeat(3, 1fr); }

.contact-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding: 2rem 0;
  width: 71.375rem;
  align-items: center;
  justify-items: center; }
  .contact-grid .fa-clock {
    width: 33px;
    height: 33px;
    font-size: 36px; }
  .contact-grid .fa-map-marker-alt {
    font-size: 36px;
    line-height: 0.58; }
  .contact-grid .fa-phone {
    transform: rotate(90deg); }
  .contact-grid .fas,
  .contact-grid .fa {
    line-height: 1.17;
    color: #666666;
    padding: 0.5rem; }

.business-stats {
  width: 390px;
  height: 200px;
  padding: 1rem;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0; }
  .business-stats #email {
    padding: 1rem 0; }

.shop-grid {
  display: grid;
  grid-gap: 2rem;
  margin: auto;
  width: 71.375rem;
  text-align: center;
  grid-template-columns: repeat(2, auto); }
  .shop-grid h1 {
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-weight: 600;
    line-height: 1.92;
    text-align: left;
    color: #333333; }
  .shop-grid p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.67;
    color: #666666; }

form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 71.375rem;
  grid-gap: 2rem;
  margin: auto;
  padding: 2rem;
  align-items: center;
  justify-items: center; }

input {
  width: 590px;
  height: 50px;
  margin: 0;
  border: solid 1px #e6e6e6;
  background-color: #ffffff; }

@media only screen and (min-device-width: 320px) and (max-device-width: 515px) and (-webkit-min-device-pixel-ratio: 2) {
  .banner-grid,
  .about-grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, auto); }

  .collection-image-grid {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    width: 0;
    align-self: left;
    justify-self: left;
    margin: auto; }
    .collection-image-grid p {
      font-family: "Source Sans Pro";
      font-size: 25px;
      line-height: 1.92;
      letter-spacing: 2.5px;
      text-align: center;
      color: #a88d7b;
      text-transform: uppercase; }

  .image-product-container {
    grid-template-columns: repeat(3, auto);
    align-items: left;
    justify-items: left;
    width: 0; }

  .blog-grid {
    display: grid;
    padding: 0 15rem;
    margin: 1rem;
    grid-template-columns: 1fr; }

  .details-name {
    font-family: "Dosis";
    font-size: 45px;
    text-align: center; }

  .details .fas,
  .details .fa {
    margin-right: 0.7rem; }

  .details {
    text-align: left;
    grid-template-columns: repeat(2, 750px);
    padding: 3rem;
    align-items: left;
    justify-items: left; }

  footer {
    text-align: left;
    padding: 2rem; } }

/*# sourceMappingURL=main.css.map */
