@import url("https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro");
button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b; }

textarea {
  width: 1170px;
  height: 150px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff; }

body {
  overflow-x: hidden; }

li {
  display: inline;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #999999;
  word-spacing: 0.1rem; }

a {
  font-family: Dosis;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

ul {
  text-align: center; }

main {
  width: 118.75rem;
  height: 44.0625rem;
  background-color: #ffffff; }

section {
  width: 118.75rem;
  height: 34.5rem;
  opacity: 0.9;
  background-color: #666666;
  text-align: center;
  background-attachment: fixed;
  background-image: url(../images/blog.jpg);
  background-size: cover; }
  section p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #ffffff; }

footer {
  font-family: "Source Sans Pro";
  font-size: 14px;
  padding-top: 2rem;
  line-height: 1.71;
  text-align: center;
  color: #666666; }

hr {
  width: 5rem;
  height: 0.125rem;
  background-color: #a88d7b; }

h4 {
  text-transform: uppercase; }

.banner-image {
  width: 118.75rem;
  height: 59.0625rem;
  background-color: #666666;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
  margin: 0;
  text-align: center; }

.banner-text {
  width: 1900px;
  height: 53px;
  background-color: #2d2827;
  text-transform: uppercase; }

.banner-grid
.fas,
.fa {
  font-size: 12px;
  text-align: center;
  color: #999999; }

.nav-grid {
  margin-top: 3rem;
  word-spacing: 2rem; }

.nav-grid li,
.fas,
.fa {
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.company {
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #fffefe;
  text-transform: uppercase; }

.title-kids-fashion {
  margin-top: 15rem; }

.arrow-down {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  animation-name: arrow; }

.arrow-down::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-animation: 3s infinite ease;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px; }
  50% {
    top: 80px; } }
@keyframes arrow {
  0%, 100% {
    top: 50px; }
  50% {
    top: 80px; } }
.explore-kids-fashion {
  font-family: Dosis;
  font-size: 50px;
  line-height: 0.96;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }

.lorem {
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6; }

.look-book {
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: auto; }

.image-product-holder {
  width: 370px;
  height: 360px;
  object-fit: cover; }

.featured-product {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase; }

.featured-product-background {
  width: 1900px;
  height: 704px;
  background-color: #f5f5f5; }

.name-of-product {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-align: center; }

.product-price {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  color: #999999; }

.new-collection-image {
  width: 570px;
  height: 373px;
  text-align: center;
  object-fit: cover; }

.new-collection {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase; }

.good-stuff {
  font-family: Dosis;
  font-size: 48px;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.button-text {
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  color: #ffffff; }

.blog-text {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase; }

.blog-images {
  width: 585px;
  height: 405px;
  background-color: #666666; }

.details {
  background-color: #2d2827; }
  .details .fas,
  .details .fa {
    margin-right: 0.7rem; }

.details-name {
  font-family: "Dosis";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1rem;
  color: #e5e5e5;
  text-align: left;
  text-transform: uppercase; }

.details p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999;
  text-align: left;
  line-height: 1.6; }

.details-text {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold;
  color: #e5e5e5;
  text-align: left;
  text-transform: uppercase; }

.image-insta {
  width: 80px;
  height: 80px;
  object-fit: cover; }

.footer {
  width: 1900px;
  height: 85px;
  background-color: #d7d7d7; }

.about-grid {
  width: 1900px;
  height: 53px;
  background-color: #eeeeee; }

.company-about {
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #000000;
  text-transform: uppercase; }

.nav-grid-about li {
  font-family: Dosis;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #666666;
  height: 93px;
  background-color: #ffffff; }

.nav-about {
  word-spacing: 1rem; }

.home-about-us {
  width: 1900px;
  height: 445px;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/18368.jpg);
  background-size: cover;
  text-align: center;
  object-fit: cover; }

.home-contact-us {
  width: 1900px;
  height: 445px;
  background-size: cover;
  text-align: center;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
  object-fit: cover; }

.about-us-heading {
  font-family: "Source Sans Pro";
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff; }

.text-style-about {
  color: #a8a8a8; }

.text-style-home {
  color: #ffffff; }

.background-who-are-we {
  width: 1900px;
  height: 548px;
  background-color: #ffffff; }

.who-are-we-image {
  width: 600px;
  height: 490px;
  object-fit: cover; }

.who-are-we-text p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: left;
  color: #666666; }

.who-are-we-text h2 {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  color: #333333; }

.meet-our-team-background {
  width: 1920px;
  height: 721px;
  background-color: #ffffff; }

.meet-our-team {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #333333; }

.meet-our-team-image {
  width: 270px;
  height: 305px;
  object-fit: cover; }

.member {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.4;
  color: #333333;
  text-align: center; }

.position {
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  line-height: 1.47;
  color: #999999; }

.social-m-icons {
  font-size: 15px;
  text-align: center;
  color: #555555;
  letter-spacing: 1rem;
  line-height: 1.47; }

.what-we-do-image {
  width: 600px;
  height: 490px;
  object-fit: cover; }

.what-we-do {
  width: 1900px;
  height: 590px;
  background-color: #ffffff; }
  .what-we-do p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.67;
    text-align: left;
    color: #666666; }

.what-we-do-title {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  text-transform: uppercase;
  color: #333333; }

.typography-image {
  width: 1920px;
  height: 335px;
  background-color: #666666; }
  .typography-image h1 {
    font-family: "Source Sans Pro";
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: 4.8px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase; }

.title,
#title {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase; }

.heading-grid {
  width: 1900px; }

.blog-image {
  width: 1900px;
  height: 445px;
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/insta7.jpg);
  text-align: center; }

.home-blog-us {
  padding: 10rem 0; }

.blog-title {
  font-family: "Source Sans Pro";
  font-size: 50px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase; }

.blogs-images {
  width: 370px;
  height: 225px;
  object-fit: cover; }

.look-book-image {
  background: linear-gradient(rgba(128, 128, 128, 0.76), rgba(128, 128, 128, 0.363)), url(../images/mpic16.jpg);
  text-align: center; }

.blog-background {
  width: 1900px;
  height: 928px;
  background-color: #ffffff; }

.blog-product {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  color: #333333; }

.blog-date {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999; }

.blog-layer {
  width: 380px;
  margin: 0;
  background-color: #ffffff; }

.blog-info {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #666666; }

.blog-read-more {
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  color: #706259; }

.look-book-images {
  width: 40rem;
  height: 30rem;
  transition: 1s ease-in; }

.contact-grid {
  width: 1900px;
  height: 1841px; }

.banner-grid,
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.nav-grid-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .nav-grid-about a {
    font-family: Dosis;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #666666;
    text-transform: uppercase; }

.nav-about {
  grid-column: 2 span; }

.home-about-us {
  display: grid;
  grid-template-columns: 1fr; }

.every-day-living {
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 600;
  color: #333333; }

.every-day-living-date {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999; }

.every-day-living-p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #666666; }

.read-more {
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #a88d7b; }

.background-who-are-we {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 5rem 8rem;
  text-align: center;
  width: 71.375rem;
  margin: auto; }
  .background-who-are-we h2 {
    text-transform: uppercase; }

.meet-our-team-background {
  display: grid;
  grid-gap: 0;
  align-items: center;
  justify-items: center;
  width: 71.375rem;
  margin: auto;
  grid-template-columns: repeat(4, auto); }

.what-we-do {
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
  display: grid;
  margin: auto;
  width: 71.375rem;
  margin: auto;
  grid-template-columns: repeat(2, auto); }

.image-product-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  width: 71.375rem;
  margin: auto; }

.collection-image-grid {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, auto);
  width: 71.375rem;
  margin: auto; }
  .collection-image-grid p {
    font-family: "Source Sans Pro";
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
    text-transform: uppercase; }

.goodstuff-grid {
  display: grid;
  padding: 10rem 0 0 10rem;
  grid-template-columns: repeat(2, 1fr);
  width: 1900px;
  height: 552px;
  opacity: 0.9; }

.blog-grid {
  display: grid;
  padding: 0 15rem;
  margin: 3rem;
  grid-template-columns: repeat(2, 1fr); }
  .blog-grid .read-more {
    text-transform: uppercase; }

.details {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 6rem; }

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-row-gap: 1rem; }

.heading-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 0; }

.two-third {
  grid-column: 2 span; }

.blogs-grid {
  display: grid;
  padding: 0 20rem;
  grid-template-columns: repeat(3, 1fr); }

.blog-share-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr); }

.look-book-grid {
  display: grid;
  width: 100%;
  grid-gap: 0.5rem;
  background-size: cover;
  margin-block-end: 0.2rem;
  grid-template-columns: repeat(3, 1fr); }

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }

.box {
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0; }

form {
  align-items: center;
  justify-items: center;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, auto); }

/*# sourceMappingURL=main.css.map */
