// ******************* base ***************** //
// body style
body {
    margin: 0 auto;
    background-size: 100vh;
}
// links
li {
    display: inline;
    text-decoration: none;
    font-family: "Source Sans Pro";
    font-size: 0.75rem;
    font-weight: 300;
    text-align: center;
    color: $text;
    word-spacing: 0.1rem;
}
a {
    font-family: "Dosis";
    text-decoration: none;
    font-size: 0.9375rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: $white-text;
}
// unodered list
ul {
    text-align: center;
}
// section style and paragraph
section {
    width: 118.75rem;
    height: 34.5rem;
    opacity: 0.9;
    background-color: $var-grey;
    text-align: center;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/blog.jpg);
    background-size: cover;

        // section paragraph
        p{
            font-family: "Source Sans Pro";
            font-size: 0.9375rem;
            line-height: 1.6;
            text-align: center;
            color: $white-text;
        }
}
// footer
footer {
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    padding-top: 2rem;
    line-height: 1.71;
    text-align: center;
    color: $var-grey;
}
// underlined under headings
hr {
    width: 5rem;
    height: 0.125rem;
    margin-bottom: 2rem;
    background-color: $border-color;
}
// heading style 4
h4 {
    text-transform: uppercase;
}
// end of style