// ************ components ************** //

// google font
@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');
// button style
button {
    width: 9.375rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 0;
    background-color: $border-color;
}
button:hover {
width: 12.5rem;
height: 2.625rem;
}
// form text area
textarea {
    width: 75.625rem;
    height: 9.375rem;
    border: solid 0.0625rem $border;
    background-color: $white-text;
    grid-column: 2 span;
}
// iframe
iframe {
    margin: auto;
    padding: 2rem;
}
// end of style