// ************ components ************** //
@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');

button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
}

textarea {
    width: 1170px;
    height: 150px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
}