// ****************** layouts ************ //
.banner-grid,
.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.nav-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.nav-grid-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    a {
        font-family: Dosis;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.8px;
        color: #666666;
        text-transform: uppercase;
    }
}
.nav-about {
    grid-column: 2 span;
}
.home-about-us {
    display: grid;
    grid-template-columns: 1fr;
}
// about page
.background-who-are-we {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 8rem;
    text-align: center;

    h2 {
        text-transform: uppercase;
    }
}
.meet-our-team-background {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}
.what-we-do{
    text-align: center;
    display: grid;
    margin-left: 15rem;
    grid-template-columns: repeat(2, 40rem);
}

// product grids
.image-product-container {
    display: grid;
    padding: 2rem 10rem;
    grid-template-columns: repeat(3, 1fr);
}
// collect grid
.collection-image-grid {
    display: grid;
    padding: 2rem 20rem;
    grid-template-columns: repeat(2, 1fr);

        p {
            font-family: SourceSansPro;
            font-size: 25px;
            line-height: 1.92;
            letter-spacing: 2.5px;
            text-align: center;
            color: #a88d7b;
            text-transform: uppercase;
        }
}
// good stuff grid
.goodstuff-grid {
    display: grid;
    padding: 10rem 0 0 10rem;
    grid-template-columns: repeat(2,1fr);

    width: 1900px;
    height: 552px;
    opacity: 0.9;
}
// blog grid
.blog-grid {
    display: grid;
    padding: 0 15rem;
    margin: 3rem;
    grid-template-columns: repeat(2, 1fr);

    .read-more{
        text-transform: uppercase;
    }
}
.details {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 6rem;
}
.instagram-grid {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-row-gap: 1rem;
}
// typography

.heading-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
}
.two-third {
    grid-column: 2 span;
}

// blog grid
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr)
}