// ****************** layouts ************ //
// main banner image and style of text
.banner-grid,
.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.nav-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.nav-grid-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    a {
        font-family: Dosis;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.8px;
        color: #666666;
        text-transform: uppercase;
    }
}
.nav-about {
    grid-column: 2 span;
}
.home-about-us {
    display: grid;
    grid-template-columns: 1fr;
}
// about page
.background-who-are-we {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, auto);
    padding: 5rem 9rem;
    text-align: center;
    width: 71.375rem;
    margin: auto;

    h2 {
        text-transform: uppercase;
    }
}
.meet-our-team-background {
    display: grid;
    grid-gap:0;
    align-items: center;
    justify-items: center;
    width: 71.375rem;
    margin: auto;
    grid-template-columns: repeat(4, auto);
}
.what-we-do{
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
    display: grid;
    margin: auto;
    width: 71.375rem;
    grid-template-columns: repeat(2, auto);
}

// product grids
.image-product-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    width: 71.375rem;
    margin: auto;
}
// collect grid
.collection-image-grid {
    display: grid;
    // padding: 2rem 20rem;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    width: 71.375rem;
    margin: auto;
    
    // paragraph
        p {
            font-family: "Source Sans Pro";
            font-size: 25px;
            line-height: 1.92;
            letter-spacing: 2.5px;
            text-align: center;
            color: #a88d7b;
            text-transform: uppercase;
        }
}
// good stuff grid
.goodstuff-grid {
    display: grid;
    padding: 10rem 0 0 10rem;
    grid-template-columns: repeat(2,1fr);
    width: 1900px;
    height: 552px;
    opacity: 0.9;
}
// blog grid
.blog-grid {
    display: grid;
    padding: 0 15rem;
    margin: 3rem;
    grid-template-columns: repeat(2, 1fr);

    .read-more{
        text-transform: uppercase;
    }
}
// footer 
.details {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 6rem;
}
.instagram-grid {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-row-gap: 1rem;
}
// typography

.heading-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
}
.two-third {
    grid-column: 2 span;
}

// blog grid
.blogs-grid {
    display: grid;
    padding: 0 20rem;
    grid-template-columns: repeat(3,1fr)
}
.blog-share-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2,1fr);
}

// look book grid
.look-book-grid {
    display: grid;
    width: 100%;
    grid-gap: 0.5rem;
    background-size: cover;
    margin-block-end: 0.2rem;
    grid-template-columns: repeat(3, 1fr);
}
// form
.contact-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: 2rem 0;
    width: 71.375rem;
    align-items: center;
    justify-items: center;

    .fa-clock {
        width: 33px;
        height: 33px;
        font-size: 36px;
    }
    .fa-map-marker-alt {
        font-size: 36px;
        line-height: 0.58;
    }
    .fa-phone {
        transform: rotate(90deg);
    }

    .fas,
    .fa {
      line-height: 1.17;
      color:#666666;
      padding: 0.5rem;
    }
}

// business time, address
.business-stats {
    width: 390px;
    height: 200px;
    padding: 1rem;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;

    #email {
        padding: 1rem 0;
      }
}
// form style
form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 71.375rem;
    grid-gap: 2rem;
    margin: auto;
    padding: 2rem;
    align-items: center;
    justify-items: center;

}
input {
    width: 590px;
    height: 50px;
    margin: 0;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
}
// end of style