// **************** responsive ********************** //
// responsive for mobile
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 515px)
  and (-webkit-min-device-pixel-ratio: 2){
  // homepage
  .banner-grid,
  .about-grid {
      margin: 0;
      grid-template-columns: repeat(3, auto);
      width: 100%;
  }
  .banner-grid {
    width: 100%;
    padding: 0;
  }
  .banner-image {
    width: 100%;
  }
    .nav-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: auto;
      padding: 0;
      
  }
  .title-kids-fashion {
    margin-top: 4rem;
  }
  // animation arrow
  .arrow {
    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
    position: absolute;
    left: 35%;
    animation: move 2s ease infinite;
  }
    // product grids
  .image-product-container {
    grid-template-columns: 1fr;
    width: 100%;

      p{
        font-size: 0.625rem;
      }
  }
  .image-product-holder{
    margin: auto;
    width: 18.75rem;
    height: 8.75rem;
  }
  .featured-product-background{
    width: auto;
  }
    // collect grid
    .collection-image-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
    }
    .new-collection-image {
      width: 100%;
      margin: 0;
    }
    .fashion-text {
      margin: 0;
    }
    .featured-product-background{
      width: 100%;
      height: 44rem;
      background-color: #f5f5f5;
    }
    // good stuff grid
    .goodstuff-grid {
      grid-template-columns: 1fr;
      width: 100%;
      text-align: center;
    }
    section {
      width: 100%;
    }
    // blog grid
    .blog-grid {
      grid-template-columns: 1fr;
      width: 100%;
      margin: auto;
      padding: 0;
    }
    .blog-images{
      width: 100%;
    }
    // footer 
    .details {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .details-text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
    .instagram-grid {
      grid-gap: 0.5rem;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
    // details 
    .image-insta {
      width: 3.125rem;
      height: 4.375rem;
      object-fit: cover;
      margin: auto;
    }
    .footer {
      width: 100%;
    }
    .about-grid {
      padding: 0;
      font-size: 1rem;
    }
    .nav-grid-about {
      grid-template-columns: 1fr;
      
  
      a {
          font-size: 0.5rem;
          letter-spacing: 0.05rem;
      }
  }
  .home-about-us {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
  }
  // about page
  .background-who-are-we {
    grid-template-columns: 1fr;
    width: 100%;
    height: 409px;
    // margin: auto;
    padding: 0;
    margin: 0;
    // padding: 0.5rem;

    h2 {
        text-transform: uppercase;
    }
  }
  .who-are-we-image{
    width: 100%;
    height: 409px;
 }
 .meet-our-team {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: $title;
}
  .meet-our-team-background {
    width: 100%;
    height: 409px;
    background-color: $white-text;
  }
  .meet-our-team-background {
        display: grid;
        width: 100%;
        height: 100%;
        margin: 0;        
        padding: 0;
        grid-template-columns: auto;
    }
    .what-we-do{
      // align-items: center;
      // justify-items: center;
      grid-gap: 0.5rem;
      display: grid;
      // margin: auto;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
  }
  .what-we-do-image{
    width: 100%;
    height: 100%;
  }
  .meet-our-team-image {
    width: 100%;
    height: 0;
    object-fit: cover;
  }
  }
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 764px)
  and (-webkit-min-device-pixel-ratio: 2){}

//   responsive for tablet
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      // homepage
  .banner-grid,
  .about-grid {
      margin: 0;
      grid-template-columns: repeat(3, auto);
      width: 100%;
  }
  .banner-grid {
    width: 100%;
    padding: 0;
  }
  .banner-image {
    width: 100%;
  }
    .nav-grid {
      grid-template-columns: repeat(3, auto);
  }
  .title-kids-fashion {
    margin-top: 14rem;
  }
  // animation arrow
  .arrow {
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    left: 43%;
    animation: move 2s ease infinite;
  }
    // product grids
  .image-product-container {
    grid-template-columns: 1fr;
    width: 100%;
      p{
        font-size: 10px;
      }
  }
  .image-product-holder{
    grid-area: image;
    margin: auto;
    width: 21.875rem;
    height: 8.125rem;
  }
  .featured-product-background{
    width: auto;
  }
    // collect grid
    .collection-image-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
    }
    .new-collection-image {
      width: 100%;
      margin: 0;
    }
    .fashion-text {
      margin: 0;
    }
    .featured-product-background{
      width: 100%;
      height: 44rem;
      background-color: #f5f5f5;
    }
    // good stuff grid
    .goodstuff-grid {
      grid-template-columns: 1fr;
      width: 100%;
      text-align: center;
    }
    section {
      width: 100%;
    }
    // blog grid
    .blog-grid {
      grid-template-columns: 1fr;
      width: 100%;
      margin: auto;
      padding: 0;
    }
    .blog-images{
      width: 100%;
    }
    // footer 
    .details {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(3, auto);
      padding: 0;
      width: 100%;
    }
    .details-text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      text-align: center;
    }
    .instagram-grid {
      grid-gap: 0.5rem;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
    // details 
    .image-insta {
      width: 6.25rem;
      height: 5rem;
      object-fit: cover;
      margin: auto;
      padding: 1rem;
    }
    .footer {
      width: 100%;
    }
  }


//   responsive for laptop 

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1440px) 
  and (-webkit-min-device-pixel-ratio: 1){
          // homepage
  .banner-grid,
  .about-grid {
      margin: 0;
      grid-template-columns: repeat(3, auto);
      width: 100%;
  }
  .banner-grid {
    width: 100%;
    padding: 0;
  }
  .banner-image {
    width: 100%;
  }
    .nav-grid {
      grid-template-columns: repeat(3, auto);
      // display: inline;
      
  }
  .title-kids-fashion {
    margin-top: 14rem;
  }
  // animation arrow
  .arrow {
    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
    position: absolute;
    left: 43%;
    animation: move 2s ease infinite;
  }
    // product grids
  // .image-product-container {
  //   grid-template-columns: repeat(3, 1fr);
  //   width: 100%;
  //     p{
  //       font-size: 10px;
  //     }
  // }
  // .image-product-holder{
  //   grid-area: image;
  //   margin: auto;
  //   width: 350px;
  //   height: 130px;
  // }
  // .featured-product-background{
  //   width: 100%;
  //   margin: auto;
  // }
    // collect grid
    // .collection-image-grid {
    //     grid-template-columns: repeat(2, 1fr);
    //     margin: 0;
    //     width: 100%;
    // }
    .new-collection-image {
      width: 100%;
      margin: 0;
    }
    .fashion-text {
      margin: 0;
    }
    // good stuff grid
    .goodstuff-grid {
      grid-template-columns: 1fr;
      width: 100%;
      text-align: center;
    }
    section {
      width: 100%;
    }
    // blog grid
    .blog-grid {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin: auto;
      padding: 0;
      align-items: center;
      justify-items: center;
    }
    .blog-images{
      width: 100%;
    }
    .every-day-section{
      padding: 2rem;
      margin-right: 20rem;
      width: 100%;
    }
    // footer 
    .details {
      grid-template-columns: repeat(2, auto);
      padding: 0;
      width: 100%;
    }
    .details-text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      padding: 0;
      align-items: center;
      justify-items: center;
      text-align: center;
    }
    .instagram-grid {
      grid-gap: 0.5rem;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }
    // details 
    .image-insta {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      margin: auto;
      padding: 0.1rem;
    }
    .footer {
      width: 100%;
    }
  }
