// // ************ class - id extentions *************** //
.banner-image {
    width: 118.75rem;
    height: 59.0625rem;
    background-color: #666666;
    background:linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
    margin: 0;
    text-align: center;
  }
.banner-text {
  width: 1900px;
  height: 53px;
  background-color: #2d2827;
  text-transform: uppercase;
}
.banner-grid
.fas, 
.fa {
  font-size: 12px;
  text-align: center;
  color: #999999;
}
.nav-grid {
  margin-top: 3rem;
  word-spacing: 2rem;
}

.nav-grid li,
.fas,
.fa {
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.company {
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fffefe;
}
.title-kids-fashion {
  margin-top: 15rem;
}
.arrow-down {
  margin-top: 15rem;
  font-family: Linearicons-Free;
  font-size: 40px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}
.explore-kids-fashion{
    font-family: Dosis;
    font-size: 50px;
    line-height: 0.96;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.lorem {
  font-family: SourceSansPro;
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6;
}
.look-book {
  font-family: SourceSansPro;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: auto;
}
// featured product images 
.image-product-holder {
  width: 370px;
  height: 360px;
  object-fit: cover;
}
.featured-product {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.featured-product-background{
  width: 1900px;
  height: 704px;
  background-color: var(--white);
}
// new collection images
.new-collection-image {
  width: 570px;
  height: 373px;
  text-align: center;
  object-fit: cover;
}
.new-collection {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
// good stuff
.good-stuff {
  font-family: Dosis;
  font-size: 48px;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.button-text{
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  border-radius: 0;
  font-family: SourceSansPro;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
// blog //
.blog-text {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.blog-image {
  width: 585px;
  height: 405px;
  background-color: #666666;
}
.details {
  background-color: #2d2827;

    .fas,
    .fa {
      margin-right: 0.7rem;
    }
}
.details-name {
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: left;
  color: #e5e5e5;
  word-spacing: 0.2rem;
  text-transform: uppercase;
}
.details p{
  font-family: SourceSansPro;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #999999;
}
.details-text {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #e5e5e5;
  text-transform: uppercase;
}
// details 
.image-insta {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.footer {
  width: 1900px;
  height: 85px;
  background-color: #d7d7d7;
}
// about page
.about-grid {
  width: 1900px;
  height: 53px;
  background-color: #eeeeee;
}
.company-about{
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #000000;
  text-transform: uppercase;
}
.nav-grid-about li{
  font-family: Dosis;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #666666;
  
  height: 93px;
  background-color: #ffffff;
}
.nav-about {
  word-spacing: 1rem;
}
.home-about-us {
  width: 1900px;
  height: 445px;
  background-color: #666666;

    a {
      text-align: center;
    }
}
.about-us-heading {
    font-family: SourceSansPro;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}
.home-about-us .text-style-about {
  color: #ffffff;
  
}
.home-about-us .text-style-home {
  color: #a8a8a8;

}
// who are we
.background-who-are-we {
  width: 1900px;
  height: 548px;
  background-color: #ffffff;
}
.who-are-we-image{
  width: 600px;
  height: 490px;
  background-color: #666666;
}
.who-are-we-text p {
  font-family: SourceSansPro;
  font-size: 15px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  padding:0 10rem;
}
.who-are-we-text h2 {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  color: #333333;
}
.meet-our-team-background {
  width: 1920px;
  height: 721px;
  background-color: #ffffff;
}
.meet-our-team {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
}
.meet-our-team-image {
  width: 270px;
  height: 305px;
  background-color: #666666;
}
.member {
  font-family: SourceSansPro;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333333;
  text-align: center;
}
.position {
  font-family: SourceSansPro;
  font-size: 15px;
  text-align: center;
  color: #999999;
}
.social-m-icons{
  font-size: 15px;
  text-align: center;
  color: #555555;
}
.what-we-do-image{
  width: 600px;
  height: 490px;
  background-color: #666666;
}
.what-we-do {
  width: 1900px;
  height: 590px;
  background-color: #ffffff;

    p{
      font-family: SourceSansPro;
      font-size: 15px;
      line-height: 1.67;
      text-align: left;
      color: #666666;
    }
}
.what-we-do-title {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
// typography styles
.typography-image {
  // background-image: url();
  width: 1920px;
  height: 335px;
  background-color: #666666;

    h1 {
      font-family: SourceSansPro;
      font-size: 48px;
      line-height: 1.25;
      letter-spacing: 4.8px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
}
.title,
#title {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
}
.heading-grid {
  width: 1900px;
  // height: 2057px;
}

// blog page
.blog-image {
  width: 1900px;
  height: 445px;
  background-color: #666666;

    h1 {
      font-family: SourceSansPro;
      font-size: 50px;
      line-height: 1.2;
      letter-spacing: 5px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
}
.blog-images{
  width: 370px;
  height: 225px;
  background-color: #666666;
}
.blog-background {
  width: 1900px;
  height: 928px;
  background-color: #ffffff;
}