// // ************ class - id extentions *************** //\
// banner image and text
.banner-image {
    width: 118.75rem;
    height: 59.0625rem;
    background-color: #666666;
    background:linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
    margin: 0;
    text-align: center;
  }
.banner-text{
  background-color: #2d2827;
  text-transform: uppercase;
  }
.banner-grid
.fas, 
.fa {
  font-size: 12px;
  text-align: center;
  color: #999999;
}
.nav-grid {
  margin-top: 3rem;
  word-spacing: 2rem;
}
.nav-grid li,
.fas,
.fa {
  font-family: "Dosis";
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.free-shipping-for-standard-order-over-r100{
  letter-spacing: 2px;
}
// company name
.company {
  font-family: "Dosis";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #fffefe;
  text-transform: uppercase;
}
.title-kids-fashion {
  margin-top: 15rem;
}
// animation arrow
.arrow {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 47%;
  animation: move 2s ease infinite;
}
@keyframes move {
  0% {
      margin-top: 7rem;
  }
  50% {
      margin-top: 0;
  }
  100% {
      margin-top: 7rem;
  }
}
// 
// explore kids fashion style
.explore-kids-fashion{
  font-family: "Dosis";
  font-size: 50px;
  line-height: 0.96;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.lorem {
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6;
}
// featured product images 
.image-product-holder {
  width: 370px;
  height: 360px;
  object-fit: cover;
}
// featured products
.featured-product {
  font-family: "Source Sans Pro";
  font-size: 36px;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.featured-product-background{
  width: 1900px;
  height: 704px;
  background-color: #f5f5f5;
}
.name-of-product {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-align: center;
}
.product-price {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  color: #999999;
}
// new collection images
.new-collection-image {
  width: 570px;
  height: 373px;
  text-align: center;
  object-fit: cover;
}
.new-collection {
  font-family: "Source Sans Pro";
  font-size: 36px;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
// good stuff
.good-stuff {
  font-family: "Dosis";
  font-size: 48px;
  // line-height: 0.5;
  text-align: center;
  color: #ffffff;
  margin: auto;
  text-transform: uppercase;
}
.button-text{
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
// blog //
.blog-text {
  font-family: "Source Sans Pro";
  font-size: 36px;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.blog-images {
  width: 585px;
  height: 405px;
  background-color: #666666;
}// every day living
.every-day-living {
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 600;
  color: #333333;
}
//  date styling
.every-day-living-date {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999;
}
//  paragraph
.every-day-living-p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #666666;
}
// read more
.read-more {
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #a88d7b;
}
// footer
.details {
  margin: auto;
  align-items: center;
  justify-items: center;
  background-color: #2d2827;

    .fas,
    .fa {
      margin-right: 0.7rem;
    }
}
.details-name {
  font-family: "Dosis";
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1rem;
  color: #e5e5e5;
  text-align: left;
  padding-bottom: 0.8rem;
  text-transform: uppercase;
}
.details p{
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999;
  text-align: left;
  line-height: 1.6;  

  .fas,
  .fa {
  color: #999999;
  }
}
.details p:hover {
  text-decoration: underline;
  color: white;
} 
.details-text {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold;
  color: #e5e5e5;
  text-align: left;
  text-transform: uppercase;
}
// details 
.image-insta {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.footer {
  width: 1900px;
  height: 85px;
  background-color: #d7d7d7;
}
// about page
.about-grid {
  // width: 1900px;
  // height: 53px;
  background-color: #eeeeee;
  text-transform: uppercase;

    .fas{
      color: #999999;
    }
}
.company-about {
  font-family: "Dosis";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #000000;
}
.nav-about {
  word-spacing: 1rem;
  text-align: center;
  margin: auto;
}

.home-about-us {
  width: 1900px;
  height: 445px;
  background:linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/18368.jpg);
  background-size: cover;
  text-align: center;
  object-fit: cover;
  align-items: center;
  justify-items: center;
}
.home-contact-us{
  width: 1900px;
  height: 445px;
  text-align: center;
  background:linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
  align-items: center;
  justify-items: center;
}
.about-us-heading {
  font-family: "Source Sans Pro";
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff;
}
.text-style-about {
  color: #a8a8a8;
}
.text-style-home {
  color: #ffffff;
}
// who are we
.background-who-are-we {
  width: 1900px;
  height: 548px;
  background-color: #ffffff;
}
.who-are-we-image{
  width: 600px;
  height: 490px;
  object-fit: cover;
}
.who-are-we-text p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: left;
  color: #666666;
}
.who-are-we-text h2 {
  font-family: "Source Sans Pro";
  font-size: 36px;
  text-align: center;
  color: #333333;
  margin: auto;
}
.meet-our-team-background {
  width: 1920px;
  height: 721px;
  background-color: #ffffff;
}
.meet-our-team {
  font-family: "Source Sans Pro";
  font-size: 36px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.meet-our-team-image {
  width: 270px;
  height: 305px;
  object-fit: cover;
}
.member {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.4;
  color: #333333;
  text-align: center;
}
.position {
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  line-height: 1.47;
  color: #999999;
}
.social-m-icons{
  font-size: 15px;
  text-align: center;
  color: #555555;
  letter-spacing: 1rem;
  line-height: 1.47;
}
.what-we-do-image{
  width: 600px;
  height: 490px;
  object-fit: cover;
}
.what-we-do {
  width: 1900px;
  height: 590px;
  background-color: #ffffff;

    p{
      font-family: "Source Sans Pro";
      font-size: 15px;
      line-height: 1.67;
      text-align: left;
      color: #666666;
    }
}
.what-we-do-title {
  font-family: "Source Sans Pro";
  font-size: 36px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
// typography styles
.typography-image {
  // background-image: url();
  width: 1920px;
  height: 335px;
  background-color: #666666;

    h1 {
      font-family: "Source Sans Pro";
      font-size: 48px;
      line-height: 1.25;
      letter-spacing: 4.8px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
}
.title,
#title {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
}
.heading-grid {
  width: 1900px;
  // height: 2057px;
}

// blog page
.blog-background {
  width: 1900px;
  height: 928px;
  background-color: #ffffff;
}
.blog-product {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.blog-date {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #999999;
}
.blog-layer {
  width: 380px;
  margin: 0;
  background-color: #ffffff;  
}
.blog-info {
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #666666;
}
.blog-read-more {
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  color: #706259;
}
.blog-image {
  width: 1900px;
  height: 445px;
  background: linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/insta7.jpg);
  text-align: center;  
}
.home-blog-us {
  padding: 10rem 0;
}
.blog-title {
  font-family: "Source Sans Pro";
  font-size: 50px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
}
.blogs-images{
  width: 370px;
  height: 225px;
  object-fit: cover;
}
// look book style
.look-book {
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: auto;
}
.look-book-image{
  background:linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/mpic16.jpg);
  text-align: center;
}
// look book
.look-book-images{
  width: 35rem;
  height: 25rem;
  padding: 1rem;
  transition: 1s ease-in;
}
.look-book-images:hover{
  border-radius: 2px solid black;
  transition: 1s ease-in-out;
  transform: scale(1.08);
}
// contact 
.business-details {
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333;
}
.business-info {
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 1.39;
  color: #666666;
}
.border {
width: 390px;
border: solid 1px #e6e6e6;
background-color: #f0f0f0;
}
.form-button {
  width: 155px;
  height: 40px;
  background-color: #ac907f;
  border-radius: 0;
  align-self: left;
  justify-self: left;

  p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}
// shop page
.shop-background-color {
  width: 1900px;
  background-color: #f5f5f5;
}
.shop-image {
  width: 1900px;
  height: 445px;
  background: linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/shop-main.jpg);
  text-align: center;  
  object-fit: cover;
  margin: auto;
}
.shop-images {
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-sale {
      position: absolute;
      width: 55px;
      height: 55px;
      background-color: #ac907f;
      font-family: "Source Sans Pro";
      font-size: 15px;
      margin: auto;
      line-height: 3.2;
      text-align: center;
      text-transform: uppercase;
      color: #fefefe;
      border-radius: 50%;
      top: 1rem;
      left: 1rem;
    }
}
.cart-button {
  width: 180px;
  height: 44px;
  color: white;
  text-transform: uppercase;
  background-color: #ac907f;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;

    .fas,
    .fa {
      padding: 0.5rem;
    }
}
.cart-price {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 600;
  line-height: 2.67;
  color: #999999;
}
.shop-icon {
  color: #666666;
}
.product-info {
  text-align: left;
}
// other shop pages
.next-page {
  word-spacing: 3rem;
  text-align: right;
  padding-bottom: 1rem;
  margin: auto;
}
// end of style