// // ************ class - id extentions *************** //
.banner-image {
    width: 118.75rem;
    height: 59.0625rem;
    background-color: #666666;
    background:linear-gradient(rgba(128, 128, 128, 0.76),rgba(128, 128, 128, 0.363)), url(../images/kid1.jpg);
    margin: 0;
    text-align: center;
  }
.banner-text {
  width: 1900px;
  height: 53px;
  background-color: #2d2827;
  text-transform: uppercase;
}
.fas, 
.fa {
  font-size: 12px;
  text-align: center;
  color: #999999;
}
.nav-grid {
  margin-top: 5rem;
}
.nav-grid li,
.fas,
.fa {
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.nateb {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fffefe;
}
.title-kids-fashion {
  margin-top: 15rem;
}
.arrow-down {
  margin-top: 15rem;
  font-family: Linearicons-Free;
  font-size: 40px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}
.explore-kids-fashion{
    font-family: Dosis;
    font-size: 50px;
    line-height: 0.96;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.lorem {
  font-family: SourceSansPro;
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6;
}
button p {
    font-family: SourceSansPro;
    font-size: 10px;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
// featured product images 
.image-product-holder {
  width: 370px;
  height: 360px;
  object-fit: cover;
}
.featured-product {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.featured-product-background{
  width: 1900px;
  height: 704px;
  background-color: var(--white);
}
// new collection images
.new-collection-image {
  width: 570px;
  height: 373px;
  text-align: center;
  object-fit: cover;
}
.new-collection {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
// good stuff
.good-stuff {
  font-family: Dosis;
  font-size: 48px;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
// blog //
.blog-text {
  font-family: SourceSansPro;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.blog-image {
  width: 585px;
  height: 405px;
  background-color: #666666;
}
.details {
  width: 1900px;
  height: 425px;
  padding: 0 5rem;
  background-color: #2d2827;
}
.-details-name {
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: left;
  color: #e5e5e5;
  text-transform: uppercase;
}
.details p{
  font-family: SourceSansPro;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #999999;
}
.details-text {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #e5e5e5;
  text-transform: uppercase;
}
.footer {
  width: 1900px;
  height: 85px;
  background-color: #d7d7d7;
}