// ************** variables *************** //


$white-text: #ffffff;
$var-grey: #666666;
$shade-brown: #706259;
$light-brown: #ac907f;
$white-2: #fefefe;

$text: #999999;
$text-2: #a8a8a8;
$header:#fffefe;
$title: #333333;
$icons: #555555;

$border-color: #a88d7b;
$border : #e6e6e6;
$banner-color: #2d2827;


